* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --main-color: #ecf0f1;
  --text-color: #2c3e50;
}
BODY {
  color: var(--text-color);
  background: var(--main-color);
}
A {
  color: var(--text-color);
  text-decoration: none;
}
MAIN {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: max-content;
  grid-auto-rows: 8vh;
  grid-gap: 5px;
  padding: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 24px);
}
FOOTER {
  background: var(--main-color);
  border-top: 1px solid #95a5a6;
  width: 100vw;
  text-align: right;
  position: fixed;
  bottom: 0;
  padding-right: 8px;
}
.title {
  text-align: center;
  grid-column: 1 / span 2;
}
.title H1 {
  margin-bottom: 2px;
}
.about-me {
  margin-top: 5px;
  padding: 0 2vw 2vh;
}
MAIN > A {
  background: #7f8c8d;
  border: 1px solid var(--text-color);
  border-radius: 10px;
  text-align: center;
  line-height: 8vh;
  margin: 2px;
  transition: all 100ms linear;
}
MAIN > A:hover {
  background: #95a5a6;
  margin: 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 769px) {
  MAIN {
    grid-template-columns: 1fr;
  }
  .title {
    grid-column: 1;
  }
}
