DIV, BODY, HTML, SPAN, TD{
  margin:0;
  padding:0;
  border:0;
  vertical-align:baseline;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Tahoma, sans-serif;
}
UL{
  list-style-type:none;
  padding:0;
}
LI > UL{
  padding-left: 25px;
}
.contain{
  height: 467px;
  max-width: 731px;
  padding-top: 20px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.tab {
  height: 0%;
}
.tab > a{
  background: #DDD;
  margin-right: 2px;
  line-height: 20px;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px 4px 0px 0px;
  color: #2c3e50;
}
.tab:target > a{
  color: #000;
  cursor: default;
  background-color: #FFF;
  border: 1px solid #999;
  border-bottom-color: transparent;
  position: relative;
  z-index: 1;
}
.tab:target .content{
  z-index: 0;
}
.roller, .list{
  left: 0;
  position: absolute;
  background: #FFF;
  width: 100%;
  max-width: 731px;
  min-height: 418px;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  padding: 10px;
  z-index: -2;
  top: 50px;
  display: flex;
  flex-wrap: wrap;
}
.usage{
  width: 100%;
  height: 0%;
  text-align: center;
  margin: -15px 0;
  pointer-events: none;
}
.usage P{
  margin: 0;
}
.roll{
  width: 83%;
}
.save{
  width: 15%;
}
.roll, .save {
  height: 10%;
}
.result{
  width: 100%;
  height:100%;
  overflow-y:auto;
  min-height: 300px;
}
.list LI{
  margin:2px 0;
  width:100%;
  height: 20px;
  display: flex;
  align-items: center;
}
.list LI:hover{
  background:#555;
  color:#fff;
  cursor:default;
}
.listCont{
  width:100%;
  height:396px;
  background:#eee;
  overflow-y:auto;
  overflow-x:hidden;
  padding: 0 2px;
}
.saved{
  margin: 0;
}
.list LI SPAN:last-child{
  width: 100%;
  padding-left: 5px;
}
SPAN.delete{
  color:#eee;
  margin-right:4px;
  height: 16px;
  width:16px;
  text-align:center;
  font-size:14px;
  order: 2;
}
SPAN.delete:hover{
  background:#999;
  color:#555;
  cursor:default;
  border-radius:50%;
}
SPAN.disabled{
  color:#f22;
}
SPAN.max{
  color:#2f2;
}
DIV.helpBlur{
  max-width: 731px;
  min-height:467px;
  background:rgba(0,0,0,0.8);
  top:0;
  left:0;
  position:fixed;
  z-index:1000;
  display: flex;
  justify-content: center;
}
DIV.helpContain{
  background:#fff;
  align-self: center;
  padding: 0 8px;
  max-width: 90%;
  border-radius: 5px;
}
.helpContain LI{
  margin-bottom: 2px;
}